<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Information Systems Research Classifier</title>
    <script src="/static/js/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
  </head>
  <body class="d-flex flex-column justify-content-center align-items-center">
   
    <nav class="navbar navbar-expand-md navbar-light bg-nav">
      <img class="mx-3" style="height: 35px;" src="/static/images/ISE_logo.png">
      <a class="navbar-brand mr-auto" style="color: #00315C;">Information Systems Research Classifier</a>
  </nav>
  <br>

  <!-- File Drop -->
    <div class="container mt-4 d-flex justify-content-center ">
      <div id="drop_zone" class="drop-zone">
        <div id="drag-n-drop" class="row h-100">
          <div class="col-12 mt-auto">
            <i class="material-icons" style="font-size: 48px;">cloud_upload</i>
          </div>
          <div class="col-12 mb-auto">
            <span>Drop files here or click to upload</span>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- secondary buttons -->
    <div class="row mt-5" id="secondaryButtons" style="display: none; width: 96%;">
      <div class="col-auto ms-auto">
        <button
        class="btn btn-success"
        id="startClassification2"
        onclick="classify()"
      >
        Start Classification
      </button>
      </div>
      <div class="col-auto">
        <button
        class="btn btn-primary"
        onclick="exportResults()">
        Export Results
      </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-danger" id="dropTable2" onclick="dropTable()">
          Remove Research Papers
        </button>
      </div>
    </div>

    <!-- table -->
    <div id="resultTableDiv" class="mt-3">
      <table
      class="table table-bordered align-middle "
        id="resultTable"
      >
        <thead id="classificationHeaders" class="table-dark">
          <tr>
            <th>Filename of Research Paper</th>
            <th>Relevant for the IS Discipline?</th>
            <th>Relevance Probability</th>
            <th>Research Paradigm</th>
            <th>Research Paradigm Probability</th>
            <th>Research Method</th>
            <th>Research Method Probability</th>
            <th style="min-width: 70px;">
          </th>
          </tr>
        </thead>
        <tbody id="classificationResults">
          <tr>
            <td><div class="min-height"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- main buttons -->
    <div class="row mb-5" style="width: 96%;">
      <div class="col-auto ms-auto">
        <button
        class="btn btn-success"
        id="startClassification"
        onclick="classify()"
      >
        Start Classification
      </button>
      </div>
      <div class="col-auto">
        <button
        class="btn btn-primary"
        onclick="exportResults()">
        Export Results
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-danger" id="dropTable" onclick="dropTable()">
          Remove Research Papers
        </button>
      </div>
    </div>
    <div id="loader" class="overlay">
      <div class="spinner-border" role="status"></div>
    </div>
  </body>
</html>
